{% extends "tours/base.html" %}

{% block content %}
<div class="container">
	<h1>About Us</h1>
	<p> Hi, we are a pittsburgh based web development group that loves building simple applications. Bernard, AJ, Ritika, and Kenny Simple Scalable Systems, also known as BARKS, is up to any challenge to create simple scalable solutions. This app is
	    a navigation app used to find your place and where to go next on CMU's campus. Call or Hire us at <a>example@example.com</a>
	</p>
</div> 
{% endblock %}
