{% extends "tours/base.html" %}
{% load staticfiles %}
{% block content %}
<br>
<div class="container">
	<div class="list-group">
	  <a href="#" class="list-group-item active">
	    Destinations
	  </a>
	  {% for location in locations %}
	  <a href="{% url 'edit_destination' %}?id={{location.pk}}" class="list-group-item">{{location.name}}</a>
	  {% endfor %}
	</div>

	<div class="list-group">
	  <a href="#" class="list-group-item active">
	    Testimonials
	  </a>
	  {% for testimonial in testimonials %}
	  <a href="{% url 'edit_testimonial' %}?id={{testimonial.pk}}" class="list-group-item">{{testimonial.name}}</a>
	  {% endfor %}
	</div>
</div>
{% endblock %}
